@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: Inter;
    font-size: 20px;
    background: url('/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
